@model AspRPG.Models.Player

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Player</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label for="Name">Player Name</label>
                <input type="text" id="Name" name="Name" />
                <label for="PlayerClass">Class:</label>
                <select name="PlayerClass" id="PlayerClass">
                    <option value="1">Fighter</option>
                    <option value="2">Rogue</option>
                    <option value="3">Wizard</option>
                </select>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}