@model AspRPG.Models.Map

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Map</h4>
    <a asp-action="Create" asp-controller="Locations" asp-route-id="@Model.Id">Create New Room</a>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    <div class="map-container">
        @foreach(var location in Model.Locations)
        {
            <div class="location-container">
                <div class="location-content">
                    @if (location.HasRoom)
                    {
                        <p>Room occupied.</p>
                    }
                    else
                    {
                        @using (Html.BeginForm("CreateRoom", "Locations"))
                        {
                            @Html.HiddenFor(l => location.Id)
                            <input type="submit" class="btn btn-default" value="Add Room" />
                        }

                    }
                </div>
            </div>
        }
    </div>

    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

